# configuration file for  PlotGraph.C -> PlotGraph("path to config file)
# number of files
8
# file	color	legend entry
/home/koppen/Bachelorarbeit/Analyse/20150317_M0307_trimvcal40_p20/20150318_M0307-Trim40-2mA-Calibration-Gauss-single.txt 1 2mA
/home/koppen/Bachelorarbeit/Analyse/20150317_M0307_trimvcal40_p20/20150318_M0307-Trim40-6mA-Calibration-Gauss-single.txt 2 6mA
/home/koppen/Bachelorarbeit/Analyse/20150317_M0307_trimvcal40_p20/20150318_M0307-Trim40-10mA-Calibration-Gauss-single.txt 3 10mA
/home/koppen/Bachelorarbeit/Analyse/20150317_M0307_trimvcal40_p20/20150318_M0307-Trim40-14mA-Calibration-Gauss-single.txt 4 14mA
/home/koppen/Bachelorarbeit/Analyse/20150317_M0307_trimvcal40_p20/20150318_M0307-Trim40-18mA-Calibration-Gauss-single.txt 6 18mA
/home/koppen/Bachelorarbeit/Analyse/20150317_M0307_trimvcal40_p20/20150318_M0307-Trim40-22mA-Calibration-Gauss-single.txt 7 22mA
/home/koppen/Bachelorarbeit/Analyse/20150317_M0307_trimvcal40_p20/20150318_M0307-Trim40-26mA-Calibration-Gauss-single.txt 8 26mA
/home/koppen/Bachelorarbeit/Analyse/20150317_M0307_trimvcal40_p20/20150318_M0307-Trim40-30mA-Calibration-Gauss-single.txt 9 30mA
# x-axis title and y-axis title
signal (Vcal DAC)
charge ( e^{-} )
#Fit Grenzen
50
240
#Legend Title
M307: T=20 Grad, TrimVcal 40
#Output File
/home/koppen/Bachelorarbeit/Analyse/20150317_M0307_trimvcal40_p20/Ergebnisse/20150317_M0307_respin-Energiekalibrationsgerade-Strom.pdf
/home/koppen/Bachelorarbeit/Analyse/20150317_M0307_trimvcal40_p20/Ergebnisse/20150317_M0307_respin-Energiekalibrationsgerade-Steigungen.txt
