# configuration file for  PlotGraphRate.C -> PlotGraphRate("path to config file)
# number of files
8
# file	color	legend entry
/home/koppen/Bachelorarbeit/Analyse/20150317_M0307_trimvcal40_p20/20150317-Rate-Gauss-Ag.txt 1 Ag
/home/koppen/Bachelorarbeit/Analyse/20150317_M0307_trimvcal40_p20/20150317-Rate-Gauss-Cu.txt 2 Cu
/home/koppen/Bachelorarbeit/Analyse/20150317_M0307_trimvcal40_p20/20150317-Rate-Gauss-Fe.txt 3 Fe
/home/koppen/Bachelorarbeit/Analyse/20150317_M0307_trimvcal40_p20/20150317-Rate-Gauss-In.txt 4 In
/home/koppen/Bachelorarbeit/Analyse/20150317_M0307_trimvcal40_p20/20150317-Rate-Gauss-Mo.txt 6 Mo
/home/koppen/Bachelorarbeit/Analyse/20150317_M0307_trimvcal40_p20/20150317-Rate-Gauss-Nd.txt 7 Nd
/home/koppen/Bachelorarbeit/Analyse/20150317_M0307_trimvcal40_p20/20150317-Rate-Gauss-Sn.txt 8 Sn
/home/koppen/Bachelorarbeit/Analyse/20150317_M0307_trimvcal40_p20/20150317-Rate-Gauss-Zn.txt 9 Zn
# legend title
M307: T = 20, TrimVcal40
# x-axis title and y-axis title
current (mA)
signal (Vcal DAC)
#Fit borders (mA)
2
30
#Title of output file
/home/koppen/Bachelorarbeit/Analyse/20150317_M0307_trimvcal40_p20/Ergebnisse/20150317_M0307_respin-Ratenabhaengigkeit.pdf
/home/koppen/Bachelorarbeit/Analyse/20150317_M0307_trimvcal40_p20/Ergebnisse/20150317_M0307_respin-Ratenabhaengigkeit-Steigungen.txt


